/* bootstrap  */

/* .padding-0{
    padding: 0 !important;
}
.padding-0>div{
    padding: 0 !important;
}
.margin-0{
    margin: 0 !important;
} */
.clear{
    clear: both;
}
body{
    background-color: #888888 !important;
}
p{
    margin: 0 !important;
}
a:focus, a:hover{
    text-decoration: none !important;
}
@media(min-width:1230px){
    .container{
        width: 1200px !important;
    }
}

/* bootstrap end */


@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

body{
 font-family: 'Nanum Gothic', sans-serif !important;
}

/* =========================menu_box=========================== */

.menu_box{
	width:100%; 
}
.logo{
    width: 570px;
    height: 83px;
    background-color: red;
    float: left;
}
.menuNav li{
    position: relative;
    font-size: 21px;
    padding-right: 28px;
    line-height: 63px;
    font-weight: 600;
    text-align: right;
}
.menuNav li:last-child{
    padding-right: 0;
}
.menuNav li a{
    display: block;
    color: #000000;
}
.menu_box nav>ul{
    float : right;
}
.menuNav ul:after{
    content: "";
    display: block;
    clear: both;
}

.menuBtn, .menuBtn span{
    display: inline-block;
    box-sizing: border-box;
}
.menuBtn{
    position: relative;
    width: 34px;
    height: 30px;
    float: right;
}
.menuBtn span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}
.menuBtn span:nth-of-type(1){
    top: 0px;
}
.menuBtn span:nth-of-type(2){
    top: 13px;
}
.menuBtn span:nth-of-type(3){
    bottom: 0;
}
.submenu_box{
    position: absolute;
    width: 133px;
    top: 63px;
    left: 0;
    display: none;
    background: white;
    z-index: 99;
}
.submenu_box a{
    text-align: center;
}
@media(min-width:1264px){  
    /* 토글 버튼 */
    .menuBtn{
        display: none;
    }
    .menuNav li{
        float: left;
        width:auto
    }
}
@media(max-width:1264px){
    .menuNav{
        display: none;
    }
    .menuNav{
        width: 100%;
        height: auto;
    }
    .menu_box nav>ul{
        float: left !important;
        width: 100%;
    }
}

/* =========================menu_box end=========================== */

.banner{
    width: 100%;
    height: 75px;
    background: yellow;
    position: relative;
}
.banner-img{
    position: absolute;
    width: 603px;
    height: 34px;
    padding: 23px 0;
    background: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* banner end */

/* Footer Start */

footer{
    background: black;
    height: 45px;
    width: 100%;
}
/* footer-area-1 */
.footer-area-1 li{
    position: relative;
    width: 20%;
    height: 45px;
    float: left;
}
.footer-area-1 li:first-child{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.footer-area-1 li+li{
    border-right: 1px solid #fff;
}
.footer-area-1 li a{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* footer-area-2 */

.footer-article>div{
    float: left;
}
.footer-article>div:last-child{
    float: right;
}
.logo-img1{
    width: 180px;
    height: 27px;
    background: green;
    margin-top: 50px;
}
.footer2-article{
    height: auto;
    padding-bottom: 50px;
    padding: 50px;
}
.footer2-article p{
    padding-bottom: 5px;
    font-size: 12px;
    color: #666;
}
.footer2-article p:last-child{
    padding-top: 20px;
}
.logo-img2{
    width: 233px;
    height: 75px;
    background: blue;
    margin-top: 50px;
}
/* footer-area-3 */

.footer-area-3>div{
    float: left;
}
.footer-area-3 div{
    height: 50px;
}
.footer-area-3>div:last-child{
    float: right;
}
.logo-left-1{
    width: 202px;
    background: red;
    margin-right: 50px;
}
.logo-center>div{
    width: 100px;
    float: left;
}
.logo-center-1{
    background: orange;
}
.logo-center-2{
    background: yellow;
}
.logo-center-3{
    background: green;
}
.logo-center-4{
    background: blue;
}
.logo-center-5{
    background: blueviolet;
}
.logo-right>div{
    width: 100px;
    float: left;
}
.logo-right-1{
    background: brown;
}
.logo-right-2{
    background: cadetblue;
}
/* Footer End */

@media(max-width:1231px){
    .menuBtn{
        margin-top: 24px;
    }
    .notice-area{
        width: 100% !important;
    }
    /* footer */
    .logo-img1{
        width: 50px;
    }
    .logo-img2{
        width: 50px;
    }
}
@media(max-width:992px){
    /* footer */
    .footer-article{
        position: relative;
        height: 242px;
    }
    .footer2-article{
        padding: 50px 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
    }
    .footer2-article>p{
        text-align: center;
    }
}
@media(max-width:600px){
    .logo{
        width: 30%;
    }
}